{{#if optionValuePath}}
  <option value={{get option optionValuePath}}
          selected={{one-way-select/contains selected option optionValuePath}}>
    {{#if hasBlock}}
      {{yield}}
    {{else if optionLabelPath}}
      {{get option optionLabelPath}}
    {{else}}
      {{get option optionValuePath}}
    {{/if}}
  </option>
{{else}}
  <option value={{option}}
          selected={{one-way-select/contains selected option}}>
    {{#if hasBlock}}
      {{yield}}
    {{else}}
      {{option}}
    {{/if}}
  </option>
{{/if}}
