<option value={{if optionValuePath (get option optionValuePath) option}}
        selected={{one-way-select/contains selected option optionValuePath}}>
  {{#if hasBlock}}
    {{yield}}
  {{else if optionComponent}}
    {{component optionComponent
        option=option
        index=index
        groupIndex=groupIndex}}
  {{else if optionLabelPath}}
    {{get option optionLabelPath}}
  {{else if optionValuePath}}
    {{get option optionValuePath}}
  {{else}}
    {{option}}
  {{/if}}
</option>
