{{#if includeBlank}}
  <option value=""
          disabled={{promptIsDisabled}}
          hidden={{if promptIsHidden "hidden"}}
          selected={{if nothingSelected "selected"}}>
    {{prompt}}
  </option>
{{/if}}
{{#if hasGrouping}}
  {{#each optionGroups as |optionGroup groupIndex|}}
    <optgroup label={{optionGroup.groupName}}>
      {{#each optionGroup.options as |option index|}}
        {{#if hasBlock}}
          {{#one-way-select/option
              selected=selectedValue
              option=option
              optionValuePath=computedOptionValuePath
              optionTargetPath=optionTargetPath}}
                {{yield option index groupIndex}}
          {{/one-way-select/option}}
        {{else}}
          {{one-way-select/option
              selected=selectedValue
              option=option
              index=index
              groupIndex=groupIndex
              optionComponent=optionComponent
              optionValuePath=computedOptionValuePath
              optionTargetPath=optionTargetPath
              optionLabelPath=optionLabelPath}}
        {{/if}}
      {{/each}}
    </optgroup>
  {{/each}}
{{else}}
  {{#each options as |option index|}}
    {{#if hasBlock}}
      {{#one-way-select/option
          selected=selectedValue
          option=option
          optionValuePath=computedOptionValuePath
          optionTargetPath=optionTargetPath}}
            {{yield option index}}
      {{/one-way-select/option}}
    {{else}}
      {{one-way-select/option
          selected=selectedValue
          option=option
          index=index
          optionComponent=optionComponent
          optionValuePath=computedOptionValuePath
          optionTargetPath=optionTargetPath
          optionLabelPath=optionLabelPath}}
    {{/if}}
  {{/each}}
{{/if}}
