{{#if includeBlank}}
  <option value="" disabled={{promptIsDisabled}}>{{promptText}}</option>
{{/if}}
{{#if groupLabelPath}}
  {{#each optionGroups as |optionGroup|}}
    <optgroup label={{optionGroup.groupName}}>
      {{#each optionGroup.options as |option|}}
        {{one-way-select/option
            selected=value
            option=option
            optionValuePath=optionValuePath
            optionLabelPath=optionLabelPath}}
      {{/each}}
    </optgroup>
  {{/each}}
{{else}}
  {{#each options as |option|}}
    {{one-way-select/option
        selected=value
        option=option
        optionValuePath=optionValuePath
        optionLabelPath=optionLabelPath}}
  {{/each}}
{{/if}}
