<h1>Welcome!</h1>

<div id="text-current-value">
  {{textCurrentValue}}
</div>

<div id="text-number-value">
  {{numberCurrentValue}}
</div>

{{one-way-input
  id="one-way-text"
  value=textCurrentValue
  update=(action (mut textCurrentValue))
}}

<div id="committed">
  {{committed}}
</div>

{{one-way-input
  id="one-way-text-keyevents"
  value=textCurrentValue
  update=(action (mut textCurrentValue))
  onenter=(action "commit")
  onescape=(action "commit")
}}

<div id="checkbox-current-value">
  {{checkboxCurrentValue}}
</div>

{{one-way-checkbox
  id="one-way-checkbox"
  checked=checkboxCurrentValue
  update=(action (mut checkboxCurrentValue))
}}

{{one-way-input
  id="one-way-number"
  type="number"
  value=numberCurrentValue
  update=(action (mut numberCurrentValue))
}}


<div id="masked">
  {{masked}}
</div>

{{one-way-input
  id="one-way-masked-input"
  value=masked
  update=(action "maskedUpdate")
}}

{{outlet}}
