<h1>Welcome!</h1>

<div id="text-current-value">
  {{textCurrentValue}}
</div>

<div id="committed">
  {{committed}}
</div>

{{one-way-input
  id="one-way-text"
  value=textCurrentValue
  update=(action (mut textCurrentValue))
  onenter=(action "commit")
}}

<div id="checkbox-current-value">
  {{checkboxCurrentValue}}
</div>

{{one-way-input
  id="one-way-checkbox"
  type="checkbox"
  value=checkboxCurrentValue
  update=(action (mut checkboxCurrentValue))
}}

{{outlet}}
