<h2>Documentation</h2>

<nav>
  <h4>Getting Started</h4>
  <ul>
    <li>{{link-to "Overview" "documentation.index"}}</li>
    <li>{{link-to "Installation" "documentation.installation"}}</li>
    <li>{{link-to "Quickstart" "documentation.quickstart"}}</li>
  </ul>

  <h4>Controls</h4>
  <ul>
    <li>{{link-to "one-way-input" "documentation.one-way-input"}}</li>
    <li>{{link-to "one-way-textarea" "documentation.one-way-textarea"}}</li>
    <li>{{link-to "one-way-checkbox" "documentation.one-way-checkbox"}}</li>
    <li>{{link-to "one-way-radio" "documentation.one-way-radio"}}</li>
    <li>{{link-to "one-way-select" "documentation.one-way-select"}}</li>
  </ul>
</nav>

{{outlet}}
